
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eeeeee;
}
.header{
    background:white;
    display: flex;
    /* TODO: pq utilizou flex-wrap aqui? */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.buscar{
  /* TODO: não faz sentido colocar flex em algo que não tem nenhum filho */
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
}
.logo li{
  /* TODO: esse display block ta sendo usado só pra tirar o .? */
    display: block;
    padding: 10px;
}
.contenedor{
 
	background:#fff;
	padding:20px;
    display: flex;
	flex:1 1 70%;
	/*flex:1;*/
}

.titulo{

    background:white;
    display: flex;
    /* TODO: mesma coisa do flex-wrap de cima */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    

}



.sub{

    display: flex;

}

.sub  li{

  /* TODO:mesma coisa do display block de cima */
    display: block;
    padding: 10px;
}

.flex{
  display:flex;
    background:#fff;
    padding:20px;
    /* TODO: qual era o objetivo disso? acho que nao ta fazendo nada */
    flex:1 1 30%;
	/*flex:1;*/
 
}

.futter{

    background:white;
    display: flex;
    /* TODO: mesma coisa dos flex-wrap anteriores */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.final{
    display: flex;
    

}

.final li{

  /* TODO: mesma coisa dos display block anteriores */
    display: block;
    padding: 10px;
}


.salvar{
  /* TODO: display flex não ta fazendo nada */
    display:flex;
    
    
}


.comentario{
  /* TODO: acho que esse display flex não ta fazendo nada */
    display: flex;
    align-items: center;
}
